.notes-add{
    margin: 9px auto 0 auto;
    margin-top: 30px;
    box-shadow: 0px 1px 5px;
    vertical-align: middle;
    border-radius: 8px;
    width: 550px;
    padding: 3px;
    opacity: .8;
    }

.title-note{
    border:none; outline: none; resize: none; overflow: hidden;
    font-style: normal;
}

.take-note{
    border:none; outline: none; resize: none; overflow: hidden;
    font-style: normal;
}
.image-on-note{
    padding-left: 340px;
}


.take-a-note{
    border:none; outline: none; resize: none; overflow: hidden
}
.button{
    padding-left:240px
}
@media screen and (max-width: 600px) {
    .notes-add{
        margin-top: 85px;
        width: 400px;
    }
}
@media screen and (max-width: 320px) {
    .notes-add{
        margin-top: 85px;
        width: 250px;
    }
}