.example-card{
    flex: 0%;
    margin-left: 20%;
    margin-right: 30%;
    margin-top: 5%;
}
@media only screen and (max-width: 600px){
    .example-card{
        margin-left: 0%;
        margin-right: 0%;
    }
}