/* .profileName {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  display: block;
  padding: 0px;
  margin-left: 23px;
  margin-top: -55px;
  font-family: "Times New Roman";
  font-weight: bold;
} */
.profileName {
  padding: 1em;
  text-align: left;
  padding-bottom: 0%;
  font-size: small
}

.profileEmail {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  display: block;
  padding-top : 0%;
  opacity: 0.6;
  font-size: small
}
.changeProfile{
  padding-top: 3em;
  font-size: smaller;
}
.example-spacer {
  flex: 1 1 auto;
  }
.menu-image-icon
{
  margin-top: 15px;
  position: absolute;
  right: 2%;
  left: auto;
  width:27px;
  height:27px
}
.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .example-toolbar{
    background-color: #ffffff
  }
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .side-nav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    border-block-end: none;
    outline: 0px;
    
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .sidenav{
    width: 245px;
    height: 47px;
    background-color: white;
    border-top-right-radius : 120px;
    border-bottom-right-radius: 120px;
    text-align: left;
  }
  .sidenavlist{
    width: 245px;
    height: 47px;
    font-size : 15px;
    background-color:rgb(250, 229, 189);
    border-block-end: none;
    border-top-right-radius : 120px;
    border-bottom-right-radius: 120px;
    text-align: left;
  }
  #fundoo-image{
    height:40px;
    width:40px;
  }
  #label-image{
    width: 18px
  }
  .mat-side-nav-bar{
   border:0px;
  }
 
   @media screen and (max-width: 600px) {
    .nav-list-div {
      display: none;
      margin-top: 50px;
    }
  }

  @media screen and (max-width: 600px) {
  .sidenav{
    width: 185px;
    height: 27px;
    background-color: white;
    border-top-right-radius : 80px;
    border-bottom-right-radius: 80px;
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .sidenavlist{
    width: 185px;
    height: 27px;
    font-size : 15px;
    background-color:rgb(250, 229, 189);
    border-block-end: none;
    border-top-right-radius : 80px;
    border-bottom-right-radius: 80px;
    text-align: left;
  }
}
.backgroundimage {
  width: auto;
  height: auto;
}