<div fxLayoutAlign='center center' class="reset-outer-div">

  <mat-card class="reset-card" fxFlex="35" fxFlex.sm="40" fxFlex.gt-sm="40" fxFlex.md="40" fxFlex.xs="70">
    <form #ResetPassword="ngForm" (ngSubmit)="onSubmit(ResetPassword)" autocomplete="off">
      <div fxLayout=column>

        <div fxLayoutAlign='center center' class="image-div-style">
          <img id="image" src="../../../../assets/images/Fundoo.png">
        </div>

        <div fxLayoutAlign='center center' class="header-div-in">
          <h3 class="header-reset">Reset Your Password</h3>
        </div>
        <!-- <div fxLayoutAlign='center center' class="reset-text"> Reset your password with this your
          Fundoo Account
        </div> -->

        <div fxLayout="column" fxLayoutGap="2px" fxLayout.sm="column" fxLayoutGap.sm="2px" fxLayout.md="column"
          fxLayout.xs="column" fxLayoutGap.xs="4px">

            <mat-form-field class="reset-field" appearance="outline">
              <mat-label
                [attr.data-error]="Password.errors!=null?(Password.errors.required?'required Field': 'minimum 3 characters required'):''">
                Password</mat-label>
              <input matInput type="password" name="Password" #Password="ngModel"
                [(ngModel)]="userresettpassword.Password" required minlength="4">
            </mat-form-field>

            <mat-form-field class="reset-field" appearance="outline">
              <mat-label
                [attr.data-error]="Password.errors!=null?(Password.errors.required?'required Field': 'minimum 3 characters required'):''">
                ConfirmPassword</mat-label>
              <input matInput type="password" name="ConfirmPassword" #ConfirmPassword="ngModel"
                [(ngModel)]="userresettpassword.ConfirmPassword" required minlength="4">
            </mat-form-field>

          <div>
            <button mat-button class="reset-btn" type="submit">Reset</button>
          </div>

        </div>

      </div>
    </form>
  </mat-card>
</div>