<mat-card fxFlex="70">
  <div class="row">
    <div class="col s6 offset-s2">

      <div class="center-align">
        <h6>User Login</h6>
      </div>
      <div fxLayout='column'>
        <form class="col s12 white" #LoginForm="ngForm" (ngSubmit)="onSubmit(LoginForm)" autocomplete="off">

          <div>
            <mat-form-field appearance="outline">
              <mat-label>UserName</mat-label>
              <input matInput type="text" class="validate" name="UserName" #UserName="ngModel"
                [(ngModel)]="user.UserName" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label
                [attr.data-error]="Password.errors!=null?(Password.errors.required?'required Field': 'minimum 3 characters required'):''">
                Password</mat-label>
              <input matInput type="password" class="validate" name="Password" #Password="ngModel"
                [(ngModel)]="user.Password" required minlength="4">
            </mat-form-field>
          </div>


          <button class="btn-large btn-sumbit" type="submit">Login</button>
          <div style="color:red"> {{message}}</div>


          <small>
            <a routerLink="/forgot-password" class="forgot-password" routerLinkActive="active">forgot-password?</a>
          </small>
        </form>
      </div>

    </div>
  </div>
</mat-card>