.outer-div{
    height: 100vh;
}
/* .mat{
    max-width:32% !important;
} */
.image-div-style{
    height:70px;
}
#image{
width:  80px;
padding-top: 3%;
}
.header-div-in{
    height:15px;
}
.header-in{
    font-weight:400; line-height: 1.333; font-size:24px; 
}
.fundoo-header{
    font-weight:400
}
.field{
    width: 100%;
}
.register{
    text-align: left;
    color: rgb(42, 123, 245)
}
.loginbutton{
    color: azure;
    background-color:rgb(42, 123, 245)
}
.forgot-div{
    height:70px
}
.Forgot-password{
    color: rgb(42, 123, 245)
}
/* @media screen and (max-width: 600px) {
    .mat{
        max-width:30% !important;
    }
} */