<div fxLayoutAlign='center center' class="outer-div">
  <mat-card class="mat" fxFlex="35" fxFlex.sm="45" fxFlex.gt-sm="45" fxFlex.md="50" fxFlex.xs="80">

    <form #LoginForm="ngForm" (ngSubmit)="onSubmit(LoginForm)" autocomplete="off">
      <div fxLayout="column">

        <div fxLayoutAlign='center center' class="image-div-style"><img id="image"
            src="../../../../assets/images/Fundoo.png"></div>

        <div fxLayoutAlign='center center' class="header-div-in">
          <h3 class="header-in">Sign in</h3>
        </div>

        <div fxLayoutAlign='center center'>
          <h3 class="fundoo-header">With your Fundoo Account</h3>
        </div>

        <div fxLayout="column" fxLayoutGap="5px" fxLayout.sm="column" fxLayoutGap.sm="10px" fxLayout.md="column"
          fxLayout.xs="column" fxLayoutGap.xs="10px">

          <div>
            <mat-form-field class="field" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput class="name" type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName"
                [pattern]="emailPattern" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="field" appearance="outline">
              <mat-label
                [attr.data-error]="Password.errors!=null?(Password.errors.required?'required Field': 'minimum 3 characters required'):''">
                Password</mat-label>
              <input matInput type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required
                minlength="4">
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="100px" fxLayout.sm="row" fxLayoutGap.sm="100px" fxLayout.md="row"
          fxLayout.xs="column" fxLayoutGap.xs="10px" fxLayoutAlign="space-between end">

          <div fxLayout="column" fxLayoutGap="15px">
            <div class="forgot-div">
              <a routerLink="/forgot-password" class="Forgot-password" routerLinkActive="active">Forgot password?</a>
            </div>
            <a routerLink="/user/user-register" class="register" routerLinkActive="active">Create account</a>
          </div>

          <div>
            <button mat-button class="loginbutton" type="submit">Login</button>
          </div>

        </div>


      </div>
    </form>

  </mat-card>
</div>