.outerdiv{
    height: 100vh;
}
#image{
width:  80px;
padding-top: 3%;
}
.field{
    width: 100%;
}
.register{
    text-align: left;
    color: rgb(42, 123, 245)
}
.loginbutton{
    color: azure;
    background-color:rgb(42, 123, 245)
}
.Forgotpassword{
    color: rgb(42, 123, 245)
}