.outer-div{
    height:100vh;
}
#image{
    padding-top: 3%; 
    width:80px;
}
.fundoo-header{
    font-size: 24px;
    font-weight: 400;
    line-height: 0px;
}
.width{
    width:100%
}
.registerbutton{
    color: azure;
    background-color:rgb(42, 123, 245)
}
.login{
    text-align: left;
    color: rgb(42, 123, 245)
}