.outerdiv{
    height:100vh;
}
#image{
    width:80px;
}
.width{
    width:100%
}
.registerbutton{
    color: azure;
    background-color:rgb(42, 123, 245)
}
.login{
    text-align: left;
    color: rgb(42, 123, 245)
}