.Hover{
    opacity:0 
}
.Hover:hover{
    opacity: 1 !important
}
.outer-div-style{
     margin-bottom: 1em;
}
.note{
    width: 230px;
    margin-top: 1em;
    padding: 0.5%
}
.notes{
    width: 550px;
    margin-left: 6em;
    margin-right: 5em;
    margin-top: 1em;
    padding: 0.5%
}
.titleinput{
    padding-left: 3%;
}
.noteinput{
    padding-left: 3%;
    padding-bottom: 0%
}
.element{
    position : center;
}
.notes-image{
    width: 100%;
    background-size: cover;
}
@media screen and (max-width: 600px) {
    .note{
        width: 590px;
        margin-top: 5px;
    }
    .notes{
        width: 590px;
        margin-top: 5px;
    }
    .outer-div-style{
        margin-top:15px; margin-left: 0%; margin-right: 0%; margin-bottom:20px;
    }
}
@media screen and (max-width: 450px) {
    .note{
        width: 435px;
        margin-top: 5px;
        margin-left: 1%
    }
    .notes{
        width: 435px;
        margin-top: 5px;
        margin-left: 1%
    }
    .outer-div-style{
        margin-top:15px; margin-left: 0%; margin-right: 0%; margin-bottom:20px;
    }
}
@media screen and (max-width: 425px) {
    .note{
        width: 415px;
        margin-top: 5px;
        margin-left: 1%
    }
    .notes{
        width: 415px;
        margin-top: 5px;
        margin-left: 1%;
        margin-right: -19%

    }
    .outer-div-style{
        margin-top:15px; margin-left: 0%; margin-right: 0%; margin-bottom:20px;
    }
}
@media screen and (max-width: 375px) {
    .note{
        width: 365px;
        margin-top: 5px;
        margin-left: 1%
    }
    .notes{
        width: 365px;
        margin-top: 5px;
        margin-left: 1%;
        margin-right: -23%
    }
    .outer-div-style{
        margin-top:15px; margin-left: 0%; margin-right: 0%; margin-bottom:20px;
    }
}
@media screen and (max-width: 320px) {
    .note{
        width: 310px;
        margin-top: 5px;
        margin-left: 1%
    }
    .notes{
        width: 310px;
        margin-top: 5px;
        margin-left: 1%;
        margin-right: -23%
    }
    .outer-div-style{
        margin-top:15px; margin-left: 0%; margin-right: 0%; margin-bottom:20px;
    }
}