<div fxLayoutGap="1%"  fxLayout='row' fxLayout='row wrap' fxLayout="column" fxLayoutAlign="start center" 
  class="outer-div-style">

  <div class="loop" *ngFor="let note of cards |search:search">

    <mat-card fxLayout='column' [ngClass]="{'note':grid==true,'notes':grid==false }"
      [style.background-color]=note.color>

      <div *ngIf="note" (click)="openDialog(note)" class="element">
        <div>
          <img src="{{note.image}}" class="notes-image" />
        </div>

        <div>
          <mat-card-title (click)="openDialog(note)" class="titleinput">{{ note.title}}</mat-card-title>
        </div>

        <div>
          <mat-card-content (click)="openDialog(note)" class="noteinput">{{ note.description}}</mat-card-content>
        </div>
      </div>


      <div *ngIf="note.label!==null">
        <mat-chip-list #chipList>
          <mat-chip [selectable]="selectable" [removable]="removable" (removed)="remove(note,note.id)">
            {{note.label}}
            <mat-icon matChipRemove class="Hover" *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
      </div>

      <div class="Hover">
        <app-icons [card]="note" [archivedicon]='archived' (setNote)="Archive($event)" [trashed]='trash'></app-icons>
      </div>
    </mat-card>

  </div>
</div>