<div fxLayoutGap="2%" fxLayout='row' fxLayout='row wrap' class="outer-div-style">

  <div class="loop" *ngFor="let note of cards">

    <mat-card fxLayout='column' [ngClass]="{'note':grid==true,'notes':grid==false }"
      [style.background-color]=note.color>

      <div *ngIf="note" (click)="openDialog(note)" class="element">
        <div>
          <img src="{{note.image}}" class="notes-image" />
        </div>

        <div>
          <mat-card-title class="titleinput">{{ note.title}}</mat-card-title>
        </div>

        <div>
          <mat-card-content class="noteinput">{{ note.description}}</mat-card-content>
        </div>
      </div>

      <app-icons [card]="note" [archivedicon]='archived' (setNote)="Archive($event)" [trashed]='trash' ></app-icons>
      <!-- [Trashed]='trash' -->
    </mat-card>

  </div>
</div>