<div class="row">
<!---------------------------------Remind-Me------------------------------------------->
<div class="col">
<div class="img" style=" width: 15px; height: 15px;">
    <button mat-icon-button (click)='Remind()'>
        <mat-icon>notification_important</mat-icon>
      </button>
    </div>
</div>
<!---------------------------------Collaborator------------------------------------------->
<div class="col">
<div class="img" style=" width: 15px; height: 15px;">
    <button mat-icon-button (click)='Remind()'>
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
    </div>
<!---------------------------------Change color------------------------------------------->
<div class="col">
<div class="img" style=" width: 15px; height: 15px;">
    <button mat-icon-button (click)='Remind()'>
        <mat-icon>color_lens</mat-icon>
      </button>
    </div>
  </div>
<!---------------------------------Add Image------------------------------------------->
<div class="col">
<div class="img" style=" width: 15px; height: 15px;">
<button mat-icon-button (click)='Remind()'>
    <mat-icon>crop_original</mat-icon>
  </button>
</div>
</div>
<!---------------------------------Archive------------------------------------------->
<div class="col">
<div class="img" style=" width: 15px; height: 15px;">
    <button mat-icon-button (click)='Remind()'>
        <mat-icon>archive</mat-icon>
      </button>
    </div>
  </div>
<!----------------------------------More--------------------------------------------->
<div class="col" fxFlexOffset="1%">
<div class="img" style=" width: 15px; height: 15px;">
    <button mat-icon-button (click)='Remind()'>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</div>