<div class="Hover" fxLayout="row" fxLayoutAlign="space-around start">
  <!---------------------------------Remind-Me------------------------------------------->

  <div class="img" matTooltip="Remind-Me">
    <button mat-icon-button [matMenuTriggerFor]="MenuRemind">
      <mat-icon>notification_important</mat-icon>
    </button>
  </div>

  <!---------------------------------Collaborator------------------------------------------->

  <div class="img" matTooltip="Collaborator">
    <button mat-icon-button (click)='Collaborator()'>
      <mat-icon>person_add</mat-icon>
    </button>
  </div>

  <!---------------------------------Change-color------------------------------------------->

  <div class="img">
    <button mat-icon-button [matMenuTriggerFor]="MenuColor" style="outline: none" matTooltip="Change color">
      <mat-icon>color_lens</mat-icon>
    </button>
  </div>

  <!---------------------------------Add-Image------------------------------------------->


  <div class="img">
    <input type="file" name="file" style="display:none" #file (change)="onFileSelected($event,card)" />
    <button mat-icon-button (click)='file.click()' matTooltip="Add Image">
      <mat-icon>crop_original</mat-icon>
    </button>
  </div>


  <!---------------------------------Archive------------------------------------------->

  <div class="img">
    <button mat-icon-button *ngIf="archivedicon!='isArchive'" (click)='Archive(card)' matTooltip="Archive">
      <mat-icon>archive</mat-icon>
    </button>
  </div>

  <div class="img">
    <button mat-icon-button *ngIf="archivedicon=='isArchive'" (click)='Unarchive(card)' matTooltip="Unarchive">
      <mat-icon>unarchive</mat-icon>
    </button>
  </div>


  <!----------------------------------More--------------------------------------------->

  <div class="img">
    <button mat-icon-button [matMenuTriggerFor]="Menu" style="outline:none" matTooltip="More">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

</div>

<!------------------------------------Menu-Colors------------------------------------------->
<mat-menu #MenuColor="matMenu">
  <div fxLayout="row">
    <button mat-mini-fab (click)="setcolor('rgb(163, 240, 240)',card)" class="color"
      style="background-color:rgb(163, 240, 240);outline: none">
    </button>

    <button mat-mini-fab (click)="setcolor('rgb(240, 255, 210)',card)" class="color"
      style="background-color:rgb(240, 255, 210);outline: none">
    </button>

    <button mat-mini-fab (click)="setcolor('rgb(240, 251, 255)',card)" class="color"
      style="background-color:rgb(240, 251, 255);outline: none">
    </button>
  </div>

  <div fxLayout="row">
    <button mat-mini-fab (click)="setcolor('rgb(255, 240, 247)',card)" class="color"
      style="background-color:rgb(255, 240, 247);outline: none">
    </button>

    <button mat-mini-fab (click)="setcolor('rgb(164, 145, 224)',card)" class="color"
      style="background-color:rgb(164, 145, 224);outline: none">
    </button>

    <button mat-mini-fab (click)="setcolor('rgb(240, 126, 166)',card)" class="color"
      style="background-color:rgb(240, 126, 166);outline: none">
    </button>
  </div>

  <div fxLayout="row">
    <button mat-mini-fab (click)="setcolor('rgb(216, 138, 138, 0.788)',card)" class="color"
      style="background-color:rgba(216, 138, 138, 0.788);outline: none">
    </button>

    <button mat-mini-fab (click)="setcolor('rgb(60, 193, 56)',card)" class="color"
      style="background-color:rgb(60, 193, 56);outline: none">
    </button>

    <button mat-mini-fab (click)="setcolor('rgb(200, 200, 200)',card)" class="color"
      style="background-color:rgb(200, 200, 200);outline: none">
    </button>
  </div>
</mat-menu>

<!----------------------------------More-Menu------------------------------------------>
<mat-menu #Menu="matMenu">
  <button mat-menu-item (click)="TrashNote(card)" style="outline: none">Delete note</button>
  <button mat-menu-item [matMenuTriggerFor]="Labelsmenu" style="outline: none">change lables</button>
  <button mat-menu-item style="outline: none">Add drawing</button>
  <button mat-menu-item style="outline: none">Make a copy</button>
  <button mat-menu-item style="outline: none">show checkboxes</button>
</mat-menu>

<mat-menu #Labelsmenu="matMenu">
  <div *ngFor="let label of notesLabel">

    <div (click)="LabelList(label)">
      <mat-checkbox>{{label.label}}</mat-checkbox>

    </div>

  </div>
</mat-menu>

<!----------------------------------Remind-Menu------------------------------------------>
<mat-menu #MenuRemind="matMenu">
  <button mat-menu-item (click)="Today(card)" style="outline: none">Later today 8:00PM </button>
  <button mat-menu-item (click)="Tomorrow(card)" style="outline: none">Tomorrow 8:00AM</button>
  <button mat-menu-item (click)="nextWeek(card)" style="outline: none">Next Week 8:00AM</button>
  <button mat-menu-item style="outline: none">Pick date & time</button>
</mat-menu>