<div class="Hover" fxLayout="row" fxLayoutAlign="space-around start" >
  <!---------------------------------Remind-Me------------------------------------------->

    <div class="img" matTooltip="Remind-Me">
      <button mat-icon-button [matMenuTriggerFor]="MenuRemind">
        <mat-icon>notification_important</mat-icon>
      </button>
    </div>
  
  <!---------------------------------Collaborator------------------------------------------->

    <div class="img" matTooltip="Collaborator">
      <button mat-icon-button (click)='Collaborator()'>
        <mat-icon>person_add</mat-icon>
      </button>
    </div>

  <!---------------------------------Change-color------------------------------------------->
 
    <div class="img">
      <button mat-icon-button [matMenuTriggerFor]="MenuColor" style="outline: none" matTooltip="Change color">
        <mat-icon>color_lens</mat-icon>
      </button>
    </div>
 
  <!---------------------------------Add-Image------------------------------------------->


    <div class="img">
      <input type="file" name="file" style="display:none" #file (change)="onFileSelected($event,card)" />
      <button mat-icon-button (click)='file.click()' matTooltip="Add Image">
        <mat-icon>crop_original</mat-icon>
      </button>
    </div>
 

  <!---------------------------------Archive------------------------------------------->
  
    <div class="img">
      <button mat-icon-button (click)='Archive(card)' matTooltip="Archive">
        <mat-icon>archive</mat-icon>
      </button>
    </div>



  <!----------------------------------More--------------------------------------------->

    <div class="img">
      <button mat-icon-button [matMenuTriggerFor]="Menu" style="outline:none" matTooltip="More">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

  </div>

<!------------------------------------Menu-Colors------------------------------------------->
<mat-menu #MenuColor="matMenu">
  <div fxLayout="row">
    <button mat-mini-fab (click)="setcolor('rgb(163, 240, 240)',card)" class="color"
      style="background-color:rgb(163, 240, 240);outline: none">
    </button>

    <button mat-mini-fab (click)="setcolor('rgb(240, 255, 210)',card)" class="color"
      style="background-color:rgb(240, 255, 210);outline: none">
    </button>

    <button mat-mini-fab (click)="setcolor('rgb(240, 251, 255)',card)" class="color"
      style="background-color:rgb(240, 251, 255);outline: none">
    </button>
  </div>

  <div fxLayout="row">
    <button mat-mini-fab (click)="setcolor('rgb(255, 240, 247)',card)" class="color"
      style="background-color:rgb(255, 240, 247);outline: none">
    </button>

    <button mat-mini-fab (click)="setcolor('rgb(164, 145, 224)',card)" class="color"
      style="background-color:rgb(164, 145, 224);outline: none">
    </button>

    <button mat-mini-fab (click)="setcolor('rgb(240, 126, 166)',card)" class="color"
      style="background-color:rgb(240, 126, 166);outline: none">
    </button>
  </div>

  <div fxLayout="row">
    <button mat-mini-fab (click)="setcolor('rgb(216, 138, 138, 0.788)',card)" class="color"
      style="background-color:rgba(216, 138, 138, 0.788);outline: none">
    </button>

    <button mat-mini-fab (click)="setcolor('rgb(60, 193, 56)',card)" class="color"
      style="background-color:rgb(60, 193, 56);outline: none">
    </button>

    <button mat-mini-fab (click)="setcolor('rgb(200, 200, 200)',card)" class="color"
      style="background-color:rgb(200, 200, 200);outline: none">
    </button>
  </div>
</mat-menu>

<!----------------------------------More-Menu------------------------------------------>
<mat-menu #Menu="matMenu">
  <div>
    <button mat-icon-button (click)="TrashNote(card)">Move To Trash</button>
  </div>
  <div>
    <button mat-icon-button (click)="AddLabel()">Add Label</button>
  </div>
  <div>
    <button mat-icon-button (click)="Delete(card)">Delete forever</button>
  </div>
</mat-menu>

<!----------------------------------Remind-Menu------------------------------------------>
<mat-menu #MenuRemind="matMenu">
  <label>Reminder:</label>
  <div>
    <button mat-icon-button (click)="LaterToday()">Later Today</button>
  </div>
  <div>
    <button mat-icon-button (click)="Tomorrow()">Tomorrow</button>
  </div>
  <div>
    <button mat-icon-button (click)="NextWeek()">Next Week</button>
  </div>
  <div>
    <button mat-icon-button (click)="Pick()">Pick Date & Time</button>
  </div>
</mat-menu>