.mat-icon-button{
    color: gray !important;
}
.remind{
    padding-left: 10%;
    padding-top: 15%;
}
.labelmenu{
    border:none; outline: none; resize: none; overflow: hidden;
}
.label-note{
    padding-left: 5%;padding-bottom: 7%;
}
.input-label{
    padding-left: 5%;padding-bottom: 7%;
}