<div fxLayoutAlign='center center' class="for-outer-div">
  <mat-card class="for-card" fxFlex="35" fxFlex.sm="40" fxFlex.gt-sm="40" fxFlex.md="40" fxFlex.xs="70">
    <form #Email="ngForm" (ngSubmit)="onSubmit(Email)" autocomplete="off">

      <div fxLayout=column>
        <div fxLayoutAlign='center center' class="image-div-style">
          <img id="image" src="../../../../assets/images/Fundoo.png"></div>

        <div fxLayoutAlign='center center' class="header-div-in">
          <h3 class="header-for">Account recovery</h3>
        </div>

        <div fxLayoutAlign='center center' class="for-text"> Enter the Email using with this your
          Fundoo Account
        </div>

        <div fxLayoutAlign='center center'>
          <mat-form-field class="for-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" name="UserName" #UserName="ngModel" [(ngModel)]="userforgotpassword.UserName"
              [pattern]="emailPattern" required>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.sm="10px" fxLayoutGap.xs="10px" fxLayout.sm="column"
          fxLayout.md="row" fxLayout.xs="column">

          <div fxFlex=50>
            <a routerLink="/user/login" class="login" routerLinkActive="active">Sign in instead</a>
          </div>

          <div fxFlex=50 fxLayoutAlign="end end">
            <button mat-button class="for-btn" type="submit">submit</button>
          </div>

        </div>

      </div>
    </form>
  </mat-card>
</div>