<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="" class="example-toolbar">

    <div fxFlex="100" fxLayout="row">

      <div fxFlex="65" fxLayout="row">

        <button mat-icon-button (click)="snav.toggle()" matTooltip="Main menu">
          <mat-icon>menu</mat-icon>
        </button>

        <img id="fundoo-image" src="../../assets/images/image.png" />

        <h1 class="example-app-name">{{HeaderName}}</h1>

        <div fxHide.xs='true' fxFlex fxLayout="row">

          <mat-form-field fxFlex appearance="outline" [style.fontSize.px]=1 fxFlexOffset="8">
            <div fxLayout="row">
              <button mat-icon-button>
                <mat-icon>search</mat-icon>
              </button>
              <input matInput [style.fontSize.px]=15 [(ngModel)]="value" (keyup)="lookfor()" (click)='goSearch()'
                placeholder="Search">
            </div>
          </mat-form-field>

        </div>
        <div>

        </div>
      </div>


      <div fxFlex="25" fxLayout="row" fxLayoutAlign="end center">

        <div>
          <button mat-icon-button matTooltip="Refresh">
            <mat-icon (click)="refresh()">refresh</mat-icon>
          </button>
        </div>

        <!-------------------------------Grid and List--------------------------------------->

        <div fxHide.xs='true'>
          <button mat-icon-button *ngIf='flag==false' (click)='ReverseFlag()' matTooltip="Grid View">
            <mat-icon>grid_view</mat-icon>
          </button>

          <button mat-icon-button *ngIf='flag==true' (click)='ReverseFlag()' matTooltip="List View">
            <img id="" src="../../../../assets/images/outline-view_agenda-24px.svg">
            <!-- <mat-icon>view_stream</mat-icon> -->
          </button>
        </div>
        <!----------------------------------LogOut------------------------------------------>
        <div fxLayout="row" fxLayoutAlign="end end">

          <button *ngIf='photo!=null' mat-mini-fab class="menu-image-icon"
            [ngStyle]="{'background-image': 'url(' + photo + ')','background-size':'cover'}" [matMenuTriggerFor]="menu"
            fxLayout="row" fxLayoutAlign="end center" color='disabled' style="outline:none" matTooltip="Fundoo Account">
          </button>
          <button *ngIf='photo==null' mat-mini-fab class="menu-image-icon" [matMenuTriggerFor]="menu" fxLayout="row"
            fxLayoutAlign="end center" color='disabled' style="outline:none" matTooltip="Fundoo Account">
          </button>

          <mat-menu #menu="matMenu">
            <div class="backgroundimage" fxLayout="row">
              <input fxHide class="image" type="file" (change)="fileUpload($event)" #SelectImage>
              <button mat-mini-fab
                [ngStyle]="{'background-image': 'url(' + photo + ')' ,'background-size':'cover','width':'70px','height':'70px'}"
                (click)="SelectImage.click()">
                <div mat-mini-fab class="changeProfile" fxLayoutAlign="end center">change</div>
              </button>

              <div>
                <div class="profileName">
                  {{FirstName}}
                </div>
                <div class="profileEmail">
                  {{UserName}}
                </div>
              </div>

            </div><br>
            <mat-divider></mat-divider>

            <button mat-menu-item (click)="onLogout()">Sign out</button>
          </mat-menu>
        </div>
      </div>

    </div>

  </mat-toolbar>
  <mat-divider></mat-divider>

  <!---------------------------------------------SideNav------------------------------------------------->
  <mat-sidenav-container class="side-nav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      class="mat-side-nav-bar">

      <mat-nav-list>
        <div class="nav-list-div" fxLayout="column" fxLayoutGap="12px">

          <div fxLayout="column">
            <button mat-button (click)='Note()' (click)="HeaderName= 'Fundoo'"
              [ngClass]="{'sidenav':HeaderName!= 'Fundoo','sidenavlist':HeaderName=='Fundoo'}">
              <mat-icon style="margin-right:25px">lightbulb_outline</mat-icon>
              Notes
            </button>
            <button mat-button class="btn" (click)='Reminder()' (click)="HeaderName= 'Reminder'"
              [ngClass]="{'sidenav':HeaderName!= 'Reminder','sidenavlist':HeaderName=='Reminder'}">
              <mat-icon style="margin-right:25px">notifications_none</mat-icon>Reminders
            </button>
          </div>

          <div>
            <mat-divider></mat-divider>
          </div>


          <div>
            <div style="margin-left:25px; font-size: 11px">LABELS</div>
          </div>

          <div>
            <div *ngFor="let label of notesLabel">

              <button (AferAddEvent)="add($event)" (click)="HeaderName= 'label'"
                [ngClass]="{'sidenav':HeaderName!= 'add','sidenavlist':HeaderName=='add'}" mat-button
                style="outline:none">
                <div fxLayout="row">
                  <div class="imageopac">
                    <img id="label-image" src="../../../../assets/images/outline-label-24px.png" />
                  </div>
                  <div style="margin-left:30px">{{label.label}}</div>
                </div>
              </button>

            </div>
          </div>

          <div>
            <button mat-button (click)="EditLables()" (click)="HeaderName= 'EditLables'"
              [ngClass]="{'sidenav':HeaderName!= 'EditLables','sidenavlist':HeaderName=='EditLables'}">
              <i class="material-icons">
                <mat-icon style="margin-right:25px">edit</mat-icon>
              </i> Edit Labels
            </button>
          </div>


          <div>
            <mat-divider></mat-divider>
          </div>


          <div fxLayout="column" style="padding-bottom: 25%">
            <button mat-button class="btn" (click)='Archive()' (click)="HeaderName= 'Archive'"
              [ngClass]="{'sidenav':HeaderName!= 'Archive','sidenavlist':HeaderName=='Archive'}">
              <mat-icon style="margin-right:25px">archive</mat-icon>
              Archive
            </button>
            <button mat-button class="btn" (click)='Trash()' (click)="HeaderName= 'Trash'"
              [ngClass]="{'sidenav':HeaderName!= 'Trash','sidenavlist':HeaderName=='Trash'}">
              <mat-icon style="margin-right:25px;">delete</mat-icon>
              Trash
            </button>
          </div>


        </div>
      </mat-nav-list>


    </mat-sidenav>

    <mat-sidenav-content style="background-color:white">
      <router-outlet> </router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>