<div class="dailog-outer-div" fxFlex fxLayout="column" [style.background-color]='data.note.color'>
  <img src="{{data.note.image}}" class="notes-image" />

  <div mat-dialog-content class="mat-dailog">
    <input matInput class="text" [(ngModel)]="data.note.title">
    <textarea matInput matTextareaAutosize class="text-for-description" [(ngModel)]="data.note.description"></textarea>
  </div>

  <div fxLayout="row">
    <app-icons (setcolortoNote)='SetColor($event)'></app-icons>
    <div class="button-div">
      <button mat-button [mat-dialog-close]="data.note">close</button>
    </div>
  </div>
</div>