.dailog-outer-div{
    width: 100%;
    background-size: cover;
    padding: 0%;
    border:none; outline: none; resize: none; overflow: hidden;
}
.notes-image{
    background-size: cover;
}
.text{
    height:40px;
}
.text-for-description{
    border:none; outline: none; resize: none; overflow: hidden;
}
.button-div{
    padding-left:140px;
}
.mat-dailog{
    padding: 0%
}
@media screen and (max-width: 600px) {
    .dailog-outer-div{
        width: 50%;
        margin-top: 5px;
    }
    .notes-image{
        background-size: cover
    }
    .text{
        height:30px;
    }
    .button-div{
        padding-left:100px;
    }
}