<div class="dailog-outer-div" fxLayout="column" [style.background-color]='color'>

  <img src="{{data.note.image}}" class="notes-image" />

  <div mat-dialog-content>
    <input matInput class="text" [(ngModel)]="data.note.title">
    <input matInput class="text" [(ngModel)]="data.note.description">
  </div>

  <div fxLayout="row">
    <app-icons (setcolortoNote)='SetColor($event)'></app-icons>
    <div class="button-div">
      <button mat-button [mat-dialog-close]="data.note">close</button>
    </div>
    
  </div>

</div>